-e .
-e ${CONFIG_REPO_PATH}
boto3==1.26.145
checksumdir==1.2.0
gitpython==3.1.34
mock==5.0.2
pulumi==3.68.0
pulumi_aws==5.41.0
pulumi_docker==4.2.3
pulumi-terraform==5.12.2
python-dotenv==1.0.0
pydantic==1.10.8
pylint==2.17.4
pytest==7.3.1
pytest-cov==4.1.0
mkdocs==1.4.3
mkdocs-material==9.1.14
jinja2==3.1.2
typer==0.9.0
typeguard==4.0.0
